<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JAVASCRIPT - VUE JS [ToDo List]</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Amatic+SC:wght@700&family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div class="wrapper" id="app">
      <!-- INTESTAZIONE -->
      <header>
        <!-- Title -->
        <div class="title flx center">
          <img src="img/01-logo.jpg" alt="Logo">
          <span>To-Do !</span>
        </div>
        <!-- / Title -->
        <!-- Nav Inputs -->
        <nav class="flx center">
          <input type="text" placeholder="Nuovo todo"
          v-model="todo" v-on:keyup.enter="insertItem">
          <button @click="insertItem">Invia</button>
        </nav>
        <!-- / Nav Inputs -->
      </header>
      <!-- / INTESTAZIONE -->

      <!-- CORPO PRINCIPALE -->
      <main>
        <ul class="list">
          <li v-for="(element, i) in todoList" class="flx">
            <div class="list-count">{{i + 1}} )</div>
            <div class="list-element">{{element}}</div>
            <div class="list-button">
              <button @click="removeItem(i)">X</button>
            </div>
          </li>
        </ul>
      </main>
      <!-- / CORPO PRINCIPALE -->

      <!-- FOOTER -->
      <footer class="flx center">
        <span>To-do List powered by Francesco Maurella.</span>
      </footer>
      <!-- FOOTER -->
    </div>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
